{% extends 'dicer/base.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

        {% block body_block %}
{% if user.is_authenticated %}
    <div class="page-header">

                <h1>Hello {{ user.username }}!</h1>
            {% else %}
                <h1>Dicer</h1>
                <p>Protein expression and purification made easy.</p>
            {% endif %}
</div>

         <div class="row placeholders">
            <div class="col-xs-12 col-sm-6 placeholder">
                   <div class="panel panel-primary">
    <div class="panel-heading">
                <h3 class="panel-title">Top 5 Proteins Searched</h3>
</div>
                       </div>
              {% if categories %}
                    <ul class="list-group">
                        {% for category in categories %}
                         <li class="list-group-item"><a href="{% url 'category'  category.slug %}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <strong>There are no proteins present.</strong>
                {% endif %}

            </div>
            <div class="col-xs-12 col-sm-6 placeholder">
                  <div class="panel panel-primary">
    <div class="panel-heading">
                <h3 class="panel-title">Top 5 Protocols Viewed</h3>
        </div>
</div>
                {% if pages %}
                    <ul class="list-group">
                        {% for page in pages %}
                         <li class="list-group-item"><a href="{{page.url}}">{{ page.title }}</a> -  ({{ page.views }} view(s))</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <strong>There are no protocols present.</strong>
                {% endif %}
            </div>

          </div>


       <p> visits: {{ visits }}</p>

    <script src="{% static "js/dicer-jquery.js" %}"></script>
    <script src="{% static "js/dicer-ajax.js" %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        {% endblock %}